{% extends 'base_generic.html' %}
{% load static %}
{% block content %}

<div id='inicio_imagenlogo'>

    <img src="{% static 'images/siglalargo.png' %}"/>
<h2>LISTADO DE CAMIONES</h2>


<div class=container style="text-align: right">
	<td>
		<a class="btn btn-primary" href="{% url 'camion_crear' %}">Nuevo Camión</a>
		
	</td>

</div>

<table class="table table-bordered">
	<thead>
		<tr>
			<td>ID</td>
			<td>Transportista</td>
			<td>Matricula</td>
			<td>Marca</td>
			<td>Modelo</td>
			<td>Viajes</td>
			<td>Estado</td>
			<td>Acciones</td>
		</tr>
		
	</thead>
	<tbody>
		{% if object_list %}
		{% for Camion in object_list %}
		<tr>
			<td>{{ Camion.id }}</td>
			<td>{{ Camion.idtransportista }} </td>
			<td>{{ Camion.matricula }}</td>
			<td>{{ Camion.marca }}</td>
			<td>{{ Camion.modelo }}</td>
			<td>{{ Camion.viajes}}</td>
			<td>{{ Camion.estado }}</td>
			
			<td>
				<a class="btn btn-primary" href="{% url 'camion_editar' Camion.id %}">Editar</a>
			</td>
		</tr>
		{% endfor %}
		
		{% else %}
		<h1>No hay registros de camiones</h1>
		{% endif %}
	</tbody>
</table> 
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Próxima</a> 
    	{% endif %}
    </li>
</ul>
{% endblock%}