{% extends 'base_generic.html' %}
{% load static %}
{% block content %}
<div id='inicio_imagenlogo'>

    <img src="{% static 'images/siglalargo.png' %}"/>
	
<h2>LISTADO DE CHACRAS</h2>

<div class=container style="text-align: right">
  <td>
	  <a class="btn btn-primary" href="{% url 'chacra_crear' %}">Nueva Chacra</a>
	  
  </td>

</div>

<table class="table table-bordered">
	<thead>
		<tr>
			<td>ID</td>
			<td>Productora	</td>
			<td>Nombre</td>
			<td>Ubicación</td>
			<td>Acciones</td>
			
		</tr>
		
	</thead>
	<tbody>
		{% if object_list %}
		{% for Chacra in object_list %}
		<tr>
			<td>{{ Chacra.id }}</td>
			<td>{{ Chacra.productor.nombre }} {{ Chacra.productor.apellido }}</td>
            <td>{{ Chacra.nombre }}</td>
            <td>{{ Chacra.ubicacion }}</td>
				
			<td>
				<a class="btn btn-primary" href="{% url 'chacra_editar' Chacra.id %}">Editar</a>
				
			</td>
		</tr>
		{% endfor %}
		
		{% else %}
		<h1>No hay registros de chacras</h1>
		{% endif %}
	</tbody>
</table> 
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Próxima</a> 
    	{% endif %}
    </li>
</ul>
{% endblock%}