{% extends 'base_generic.html' %}
{% load static %}

{% block content %}
<div id='inicio_imagenlogo'>

    <img src="{% static 'images/siglalargo.png' %}"/>

<h2>LISTADO DE PRODUCTORES</h2>

<div class=container style="text-align: right">
  <td>
	  <a class="btn btn-primary" href="{% url 'productor_crear' %}">Nuevo Productor</a>
	  
  </td>

</div>

<table class="table table-bordered">
	<thead>
		<tr>
			<td>ID</td>
			<td>Nombre</td>
			<td>Razón Social</td>
			<td>RUT</td>
			<td>Dirección</td>
			<td>Celular</td>
			<td>Email</td>
			<td>Acciones</td>
		</tr>
		
	</thead>
	<tbody>
		{% if object_list %}
		{% for Productor in object_list %}
		<tr>
			<td>{{ Productor.id }}</td>
			<td>{{ Productor.nombre }} {{ Productor.apellido }}</td>
			<td>{{ Productor.razonsocial }}</td>
			<td>{{ Productor.rut }}</td>
			<td>{{ Productor.direccion }}</td>
			<td>{{ Productor.celular }}</td>
			<td>{{ Productor.email }}</td>
			
			<td>
				<a class="btn btn-primary" href="{% url 'productor_editar' Productor.id %}">Editar</a>
			</td>
		</tr>
		{% endfor %}
		
		{% else %}
		<h1>No hay registros de productores</h1>
		{% endif %}
	</tbody>
</table> 
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Próxima</a> 
    	{% endif %}
    </li>
</ul>
{% endblock%}