{% extends 'base_generic.html' %}
{% load static %}
{% block content %}

<div id=titulo>
<h2>LISTADO DE TRANSPORTISTAS <a class="btn btn-primary" href="{% url 'transportista_crear' %}">Nuevo Transportista</a></h2>

</div>

<table id='tabla' class="table-responsive">
	<thead>
		<tr>
			<th>ID</th>
			<th>Nombre</th>
			<th>RUT</th>
			<th>Dirección</th>
			<th>Celular</th>
			<th>Email</th>
			<th>Acciones</th>
		</tr>
		
	</thead>
	<tbody>
		{% if object_list %}
		{% for Transportista in object_list %}
		<tr>
			<td>{{ Transportista.id }}</td>
			<td>{{ Transportista.nombre }} </td>
			<td>{{ Transportista.rut }}</td>
			<td>{{ Transportista.direccion }}</td>
			<td>{{ Transportista.celular }}</td>
			<td>{{ Transportista.email }}</td>
			
			<td>
				<a class="btn btn-primary" href="{% url 'transportista_editar' Transportista.id %}">Editar</a>
				
			</td>
		</tr>
		{% endfor %}
		
		{% else %}
		<h1>No hay registros de transportistas</h1>
		{% endif %}
	</tbody>
</table> 
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Próxima</a> 
    	{% endif %}
    </li>
</ul>
{% endblock%}